[mysqld]
character_set_server=utf8mb4

gtid_mode=ON
enforce_gtid_consistency
log_bin=mysql-bin
sync_binlog=1

# for SQL debug
slow_query_log=ON
slow_query_log_file=/var/log/mysql/slow-log/slow.log
long_query_time=0

# TODO for spring.datasource.hikari.connection-init-sql test
sql_mode=''

server-id=2

read_only=ON
